@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-100.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-100.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-200.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-200.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-300.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-800.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Deans Custom Font Family';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: local(''),
    url('../fonts/Kyiv*Type-Titling/KyivTypeTitling-VarGX.woff2') format('woff2-variations'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-900.woff2') format('woff2'),
    url('../fonts/roboto-slab-v12-latin/roboto-slab-v12-latin-900.woff') format('woff');
}

/* 
  Add variable font to page
*/

body {
  font-family: 'Deans Custom Font Family', 'Comic Sans MS';
}

/* 
  General styles below
*/

html {
  font-size: 140%;
  background-color: floralwhite;
  color: darkslategrey;
}

main {
  display: block;
  max-width: 800px;
  width: auto;
  margin: auto;
  padding: 0 10px;
}