/* 
  General styles
*/

html {
  font-size: 140%;
  background-color: floralwhite;
  color: darkslategrey;
}

main {
  display: block;
  max-width: 800px;
  width: auto;
  margin: auto;
  padding: 0 10px;
}