/* 
  General styles
*/

html {
  font-size: 140%;
  background-color: floralwhite;
  color: darkslategrey;
}

main {
  display: block;
  max-width: 800px;
  width: auto;
  margin: auto;
  padding: 0 10px;
}

.hover-section {
  padding: 1em 2em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.change-weight-on-hover {
  font-weight: 900;
  transition: font-weight 1s ease-out;
}
.hover-section:hover .change-weight-on-hover {
  font-weight: 100;
}